{% extends 'layout.html' %}
{% block title %}Edit a User{% endblock %}
{% block body %}
    <div class="alert alert-info">Editing {{ edited_user.display }}.</div>
    <div class="row">This user has {{ edited_user.boards|length }} boards.</div>
    <form action="{{ url_for('edit_user', user_id=edited_user.id) }}" method="post" class="form-horizontal">
        <div class="row">This is the user information:</div>
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">Username</label>

            <div class="col-sm-10">
                <input type="text" name="username" id="username" placeholder="Username"
                       value="{{ edited_user.username }}" disabled="disabled"/>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Change password</label>

            <div class="col-sm-10">
                <input type="password" name="password" id="password" placeholder="New password"/>
            </div>
        </div>
        <div class="form-group">
            <label for="password2" class="col-sm-2 control-label">Password (again)</label>

            <div class="col-sm-10">
                <input type="password" name="password2" id="password2" placeholder="New password"/>
            </div>
        </div>
        <div class="form-group">
            <label for="display" class="col-sm-2 control-label">Display name</label>

            <div class="col-sm-10">
                <input type="text" name="display" id="display" placeholder="Display name"
                       value="{{ edited_user.display or '' }}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Permissions</label>

            <div class="col-sm-10">
                {%- for permission in permissions %}
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="{{ permission.name }}" value="{{ permission.flag }}"
                                    {%- if edited_user.has_permission(permission) %} checked="checked" {% endif %} />
                            {{ permission.description }}
                        </label>
                    </div>
                {%- endfor %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Save Changes" class="btn btn-success" />
                <a class="btn btn-danger" href="{{ url_for('manage_users') }}">Cancel</a>
            </div>
        </div>
    </form>
    <div class="row">
        In addition, you may also <a href="{{ url_for('delete_user', user_id=edited_user.id) }}">delete</a> this user.
    </div>
{% endblock %}