{% extends 'layout.html' %}
{% block title %}Delete a User{% endblock %}
{% block body %}
    <div class="alert alert-warning">Deleting {{ user_to_delete.display }}.</div>
    <div class="alert alert-info">This user has {{ num_boards }} boards.</div>
    <form action="{{ url_for('delete_user', user_id=user_id) }}" method="post">
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-question-sign"></span>
            Are you sure you want to delete {{ user.display }}?
        </div>
        <input type="hidden" name="user_id" value="{{ user_id }}"/>
        <input type="hidden" name="approved" value="1"/>
        <input type="submit" value="Yes"/>
    </form>
{% endblock %}