{%- macro html_board(board, id, to_print, is_solution) %}
    {%- if to_print -%}
        <div class="row head">Eli Daian's Sudoku</div>
    {%- endif -%}
    <div class="row text-center">
        <p class="text-center">
        <table class="board">
            {%- for blocks_row in range(board.get_block_width()) %}
                {%- set row1 = board.get_block_height() * blocks_row %}
                <tr>
                    {%- for blocks_col in range(board.get_block_height()) %}
                        {%- set col1 = board.get_block_width() * blocks_col %}
                        <td>
                            <table class="inboard">
                                {%- for inblock_row in range(board.get_block_height()) %}
                                    {%- set row = row1 + inblock_row %}
                                    <tr>
                                        {%- for inblock_col in range(board.get_block_width()) %}
                                            {%- set col = col1 + inblock_col %}
                                            <td>{{ (board.get(col, row, is_solution).strip() or '&nbsp;')|safe }}</td>
                                        {%- endfor %}
                                    </tr>
                                {%- endfor %}
                            </table>
                        </td>
                    {%- endfor %}
                </tr>
            {%- endfor %}
        </table>
        </p>
    </div>
    <div class="row">
        <p class="text-center"><em>#{{ id }}</em></p>
    </div>
    {%- if to_print %}
        <p class="pagebreak"></p>
    {%- endif %}
{%- endmacro %}
