{%- extends "layout.html" %}
{%- from "html_board.html" import html_board %}
{%- macro disp_user(display, username) -%}
    {% if display %}{{ display }}{% else %}{{ username }}{% endif %}
{%- endmacro %}
{%- block title %}View Board{% endblock %}
{%- block scripts %}
    <link rel="stylesheet" href="{{ url_for("static", filename="board.css") }}" type="text/css"/>
{%- endblock %}
{%- block body %}
    {%- if root %}
        {%- set list_func = "list_other_boards" %}
        {%- set view_specific_form = "other_user" %}
        {%- set view_specific_func = "other_specific_board" %}
        {%- set view_set_func = "other_board_set" %}
    {%- else %}
        {%- set list_func = "list_boards" %}
        {%- set view_specific_form = "view_board" %}
        {%- set view_specific_func = "view_specific_board" %}
        {%- set print_specific_func = "print_specific_board" %}
        {%- set pdf_specific_func = "pdf_specific_board" %}
        {%- set view_set_func = "view_board_set" %}
    {%- endif %}
    {%- if function == "main" %}
        <div class="row">Please select an option:</div>
        <div class="row">
            <ul class="list-group">
                {%- if session.last_boards and not root -%}
                    <li class="list-group-item">
                        <a href="{{ url_for("view_last_boards") }}">
                            View the last created board {%- if session.last_boards|length > 1 -%}s{% endif -%}
                        </a>.
                    </li>
                {%- endif -%}
                <li class="list-group-item">
                    <a href="{{ url_for(list_func) }}">View a specific board</a>.
                </li>
                <li class="list-group-item">
                    <a href="{{ url_for(list_func, many=1) }}">View a set of boards</a>.
                </li>
            </ul>
        </div>
    {%- elif function == "list" %}
        <div class="row">You have {{ boards|length }} boards.</div>
        <div class="row">
            <h3>Select a Board</h3>
            <br/>

            <form action="{{ url_for(view_specific_form) }}" method="GET" class="form-inline">
                I want to check board
                #<input type="number" name="board_id" class="form-control" placeholder="Board number"/>.
                <br/>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="solution" value="1"/>
                        Let me see the solution.
                    </label>
                </div>
                <br/>
                <button type="submit" class="btn btn-default">Go</button>
            </form>
        </div>
        <div class="row">
            <p>Alternatively, you may select a board to watch from a list:</p>
            <ul class="list-group">
                {%- for board in boards %}
                    <li class="list-group-item">
            <span class="badge">
                <a href="{{ url_for(view_specific_func, board_id=board.id, solution=True) }}">Solution</a>
            </span>
            <span class="badge">
                <a href="{{ url_for(view_specific_func, board_id=board.id, solution=False) }}">Problem</a>
            </span>
                        <h4 class="list-group-item-heading">#{{ board.id }}</h4>

                        <p class="list-group-item-text">
                            {{ board.block_width }} &times; {{ board.block_height }} board, created
                            on {{ board.create_time }}
                            {%- if root -%}
                                <br/>
                                [Created by {{ disp_user(board.display, board.username) }}]
                            {%- endif -%}
                        </p>
                    </li>
                {%- endfor %}
            </ul>
        </div>
    {%- elif function == "list_many" %}
        <div class="row">You have {{ boards|length }} boards.</div>
        <div class="row">
            <p>Please select the boards you would like to see:</p>

            <form action="{{ url_for(view_set_func) }}" method="POST">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Boards</label>

                    <div class="col-sm-10 list-group">
                        {%- for board in boards %}
                            <div class="checkbox list-group-item">
                    <span class="badge">
                        <a href="{{ url_for(view_specific_func, board_id=board.id, solution=True) }}">Solution</a>
                    </span>
                    <span class="badge">
                        <a href="{{ url_for(view_specific_func, board_id=board.id, solution=False) }}">Problem</a>
                    </span>
                                <h4 class="list-group-item-heading">
                                    <label>
                                        <input type="checkbox" name="{{ board.id }}" value="1"/>
                                        #{{ board.id }}
                                    </label>
                                </h4>

                                <p class="list-group-item-text">
                                    {{ board.block_width }} &times; {{ board.block_height }} board, created
                                    on {{ board.create_time }}
                                    {%- if root -%}
                                        <br/>
                                        [Created by {{ disp_user(board.display, board.username) }}]
                                    {%- endif -%}
                                </p>
                            </div>
                        {%- endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Solution</label>

                    <div class="col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="solution" value="1"/>
                                Let me see the solution.
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" value="Go"/>
                    </div>
                </div>
            </form>
        </div>
    {%- elif function == "view" %}
        <div class="row">
            Other views:
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    View <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{{ url_for(print_specific_func, board_id=id, solution=is_solution) }}"
                           target="_blank">
                            Print
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for(pdf_specific_func, board_id=id, solution=is_solution) }}"
                           target="_blank">
                            PDF
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        {{ html_board(board, id, False, is_solution) }}
        <div class="row">
            <p>
                You may always check out the
                {% if is_solution -%}
                    <a href="{{ url_for(view_specific_func, board_id=id, solution=False) }}">real problem</a>
                {%- else -%}
                    <a href="{{ url_for(view_specific_func, board_id=id, solution=True) }}">solution</a>
                {%- endif -%}
                .
            </p>
        </div>
        <br/>
        <div class="row">
            <h3>View Another Board</h3>
            <br/>

            <form action="{{ url_for(view_specific_form) }}" method="GET" class="form-inline">
                I want to check board
                #<input type="number" name="board_id" class="form-control" placeholder="Board number"/>.
                <br/>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="solution" value="1"
                               {% if is_solution %}checked="checked"{% endif %}/>
                        Let me see the solution.
                    </label>
                </div>
                <br/>
                <button type="submit" class="btn btn-default">Go</button>
            </form>
        </div>
    {%- elif function == "view_many" %}
        <div class="row">
            Other views:
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    View <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{{ url_for(view_set_func, boards=boards_str, solution=1 if is_solution else 0, mode=modes.PRINT) }}"
                           target="_blank">
                            Print
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for(view_set_func, boards=boards_str, solution=1 if is_solution else 0, mode=modes.PDF) }}"
                           target="_blank">
                            PDF
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        {%- for board, id in boards %}
            {{ html_board(board, id, False, is_solution) }}
        {%- endfor %}
        <div class="row">
            <p>
                You may always check out the
                {% if is_solution -%}
                    <a href="{{ url_for(view_set_func, boards=boards_str,  solution=0) }}">real problems</a>
                {%- else -%}
                    <a href="{{ url_for(view_set_func, boards=boards_str, solution=1) }}">solutions</a>
                {%- endif -%}
                .
            </p>
        </div>
    {%- endif %}
{%- endblock %}
