.board          { border-collapse: collapse; border: 4pt solid black;
                  width: 420px; height: 420px;
                  margin: 0 auto; float: none }
.board tr       { height: 4%; }
.board td       { width: 33%; padding: 0pt; }
.inboard        { border-collapse: collapse; border: 2pt solid black;
                  width: 100%; height: 100%; }
.inboard tr     { height: 33%; }
.inboard td     { border: 1pt solid black; padding: 0pt; font-size: 20pt;
                  text-align: center; width: 25%; }
.pagebreak      { page-break-before: always; }
