{%- extends "layout.html" %}
{%- from "html_board.html" import html_board %}
{%- block title %}View Board{% endblock %}
{%- block body %}
{%- if function == "main" %}
<p>Please select an option:</p>
<ul>
    {%- if session.last_boards -%}
    <li><a href="{{ url_for("view_last_boards") }}">View the last created board
    {%- if session.last_boards|length > 1 -%}s{% endif -%}
    </a>.</li>
    {%- endif -%}
    <li><a href="{{ url_for("list_boards") }}">View a specific board</a>.</li>
    <li><a href="{{ url_for("list_boards", many=1) }}">View a set of boards</a>.</li>
</ul>
{%- elif function == "list" %}
<p>You have {{ boards|length }} boards.</p>
<p>Please select a board to watch:</p>
<form action="{{ url_for("view_board") }}" method="GET">
    I want to check board #<input type="number" name="board_id" />.<br />
    <input type="checkbox" name="solution" value="1" />Let me see the solution.<br />
    <input type="submit" value="Go!" />
</form>
<p>Alternatively, you may select a board to watch from a list:</p>
<ul>
    {%- for board in boards %}
    <li>
        #{{ board.id }} - {{ board.block_width }} &times; {{ board.block_height }} board, created on {{ board.create_time }}
        <a href="{{ url_for("view_specific_board", board_id=board.id) }}">Problem</a>
        <a href="{{ url_for("view_specific_board", board_id=board.id, solution=1) }}">Solution</a>
    </li>
    {%- endfor %}
</ul>
{%- elif function == "list_many" %}
<p>You have {{ boards|length }} boards.</p>
<p>Please select the boards you would like to see:</p>
<form action="{{ url_for("view_board_set") }}" method="POST">
    <ul>
        {%- for board in boards %}
        <li>
            <input type="checkbox" name="{{ board.id }}" value="1" />
            #{{ board.id }} - {{ board.block_width }} &times; {{ board.block_height }} board, created on {{ board.create_time }}
            <a href="{{ url_for("view_specific_board", board_id=board.id) }}">Problem</a>
            <a href="{{ url_for("view_specific_board", board_id=board.id, solution=1) }}">Solution</a>
        </li>
        {%- endfor %}
    </ul>
    <input type="submit" value="Go" />
</form>
{%- elif function == "view" %}
<ul class="topnav">
    <li><a href="{{ url_for("view_specific_board", board_id=id, solution=1 if is_solution else 0, mode=modes.PRINT) }}" target="_blank">Print</a><li>
    <li><a href="{{ url_for("view_specific_board", board_id=id, solution=1 if is_solution else 0, mode=modes.PDF) }}" target="_blank">PDF</a><li>
</ul>
{{ html_board(board, id, False, is_solution) }}
{%- if is_solution %}
<p>You may always check out the <a href="{{ url_for("view_specific_board", board_id=id, solution=0) }}">real problem</a>.</p>
{%- else %}
<p>You may always check out the <a href="{{ url_for("view_specific_board", board_id=id, solution=1) }}">solution</a>.</p>
{%- endif %}
{%- elif function == "view_many" %}
<ul class="topnav">
    <li><a href="{{ url_for("view_board_set", boards=boards_str, solution=1 if is_solution else 0, mode=modes.PRINT) }}" target="_blank">Print</a><li>
    <li><a href="{{ url_for("view_board_set", boards=boards_str, solution=1 if is_solution else 0, mode=modes.PDF) }}" target="_blank">PDF</a><li>
</ul>
{%- for board, id in boards %}
{{ html_board(board, id, False, is_solution) }}
{%- endfor %}
{%- if is_solution %}
<p>You may always check out the <a href="{{ url_for("view_board_set", boards=boards_str,  solution=0) }}">real problems</a>.</p>
{%- else %}
<p>You may always check out the <a href="{{ url_for("view_board_set", boards=boards_str, solution=1) }}">solutions</a>.</p>
{%- endif %}
{%- endif %}
{%- endblock %}
